<div class="container">
  @if ((foro$ | async); as foro) {
    <div class="foro-container">
      <div class="title">
        {{foro.title}}
      </div>
      @for (slider of foro.sliders; track slider; let i = $index) {
        <div class="sliders">
          <div class="card">
            <div class="images">
              @for (image of slider.images; track image) {
                <div class="image" [ngStyle]="{'background-image': 'url(' + image + ')'}">
                </div>
              }
            </div>
            <app-slider [audios]="slider.audiosUrl"></app-slider>
          </div>
          @if (i > foro.sliders.length) {
            <hr />
          }
        </div>
      }
    </div>
  } @else {
    <a href="/">
      Regresar
    </a>
  }
</div>