/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "TruenoRegular";
  src: url("./assets/fonts/TruenoRg.otf");
  font-display: swap;
}

body {
  font-family: "TruenoRegular", serif;
  margin: 0;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
