/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "TruenoRegular";
  src: url("https://fontlibrary.org/assets/fonts/trueno/69d25d10193139d4a9cfc9d2196c23dc/7aba95e5ff98d5a275ced8ae58144c5e/TruenoRegular.otf");
  font-display: swap;
}

body {
  // background-image: linear-gradient(to bottom right, #421E56, #BC6083);
  // background-color: #914fb4;
  font-family: "TruenoRegular", serif;
  margin: 0;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
