<div class="container">
  <main class="card">
    <div class="header">
      <div class="images">
        <div class="photo"></div>
        <div class="sublogo" id="sublogo"></div>
      </div>
    </div>
    <div class="body">
      <h1 class="name">Dairis Zambrano</h1>
      <h2 class="role">Trabajadora Social</h2>
      <div class="skills">
        <span> Terapia Familiar </span>
        <span> Terapia de Pareja </span>
        <span> Coach de Vida </span>
      </div>
    </div>
    <div class="contacts">
      <a href="https://www.instagram.com/dairiszam/" target="_blank">
        Instagram
        <fa-icon [icon]="icons.instagram"></fa-icon>
      </a>
      <!-- <a href="mailto:hola@dairis.space">
        Email
        <fa-icon [icon]="icons.mail"></fa-icon>
      </a> -->
      <a href="https://www.linkedin.com/in/dairis-zambrano-4232803b/" target="_blank">
        Linkedin
        <fa-icon [icon]="icons.linkedin"></fa-icon>
      </a>
      <a href="https://wa.me/+584122747566" target="_blank">
        Whatsapp
        <fa-icon [icon]="icons.whatsapp"></fa-icon>
      </a>
    </div>
  </main>

</div>